{% extends 'base.html' %} {% load static %} {% load humanize %} 
{% block content %}
<div class="container py-5 text-center">
  <h1 class="mb-5">CRUD Operation</h1>
  <div class="d-flex justify-content-center">
    <a href="{% url 'store:createItem' %}"
      ><button type="button" class="btn btn-primary mx-2 text-white">
        Add Item
      </button></a
    >
    <a href="{% url 'store:allItem' %}"
      ><button type="button" class="btn btn-danger mx-2 text-white">
        All Item
      </button></a
    >

  </div>
</div>
{% endblock content %}
